{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-light text-center h-100 w-100">
    <div class="container p-5 bg-dark">
     <p>About me</p>
    </div>
</section>
<section class="bg-dark text-light text-center h-100 w-100">
    <div class="container p-5 bg-dark">
     <p>FUUUUUUUU</p>
    </div>
</section>
<section class="bg-dark text-light text-center h-100 w-100">
    <div class="container p-5 bg-dark">
     <p>FUUUUUUUU</p>
    </div>
</section>
<section class="bg-dark text-light text-center h-100 w-100">
    <div class="container p-5 bg-dark">
     <p>FUUUUUUUU</p>
    </div>
</section>
<section class="bg-dark text-light text-center h-100 w-100">
    <div class="container p-5 bg-dark">
     <p>FUUUUUUUU</p>
    </div>
</section>
<section class="bg-dark text-light text-center h-100 w-100">
    <div class="container p-5 bg-dark">
     <p>FUUUUUUUU</p>
    </div>
</section>
{% endblock %}